<!-- site info -->
<div id="ftop">
    <div class="width">
        <ul>
            <li><a href="">Tel : 010-2651-2398</a></li><li>|</li>
            <li><a href="">E-mail : cucuridas@gmail.com</a></li><li>|</li>
            <li><a href="">Copyright © 최충은, 손광호, 홍윤기</a></li>
        </ul>
    </div>
</div>
</body>
</html>