* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
}

.navbar{
	width : 85%;
	margin: auto;
	padding:35px 0;
	display:flex;
	align-items: center;
	justify-content: space-between;

}
.navbar a {
	
	text-decoration: none;
}
.logo{
	width: 100px;
	font-size: 50px;
	color: #00dcc8;
	cursor: pointer
	
}
.navbar ul li {
	list-style:none;
	display: inline-block;
	margin:0 7px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content:'';
	height: 3px;
	width:0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
	
}
.content{
	width: 100%;
	/*position: absolute;*/
	top: 60%;
	transform: translateY(+0%);
	text-align: center;
	color:black;
	transition: 1.3s;
	display: table; margin-left: auto; margin-right: auto; margin-top: 0%;
}
.content h1{
	font-size: 40px;
	margin-top:25px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

span{

	background: #00dcc8;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition : 0.2s;
}
button:hover span{
	width : 100%;
	
}
button:hover{
	border : none;	
}	

